﻿
<div>
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="page-header">Item Admin Page</h2>
        </div>
        @*<div>
            <a href="#/item/1" class="btn btn-default">Add Item</a>
        </div>*@
    </div>
    
    <!-- /.row -->

    <br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Category</label>
            <div class="col-md-10 controls">
                @Html.AngularDropDownFor("vm.categoryId", "vm.categories", new { key = "Id", value = "Name", onChange = "vm.changeCategory()" })
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Sub-Category</label>
            <div class="col-md-10 controls">
                @Html.AngularDropDownFor("vm.subCategoryId", "vm.subCategories", new { key = "Id", value = "Name" })
            </div>
        </div>
    </div><br />

    <div ng-show="vm.type == 0">
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.name")
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.description", null, true, true)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Code</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.code")
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Color</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.color")
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Details</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.details")
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Price</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.price", new { @type = "number" })
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Size</label>
                <div class="col-md-10 controls">
                    @Html.AngularTextBoxFor("vm.obj.size")
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Item Status</label>
                <div class="col-md-10 controls">
                    @*<select class="form-control" data-ng-model="vm.itemStatusId" ng-options="s.Id as s.Status for s in vm.itemStatus">
                    </select>*@
                    @Html.AngularDropDownFor("vm.itemStatusId", "vm.itemStatus", new { key = "Id", value = "Status" })
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <div class="col-md-offset-2 col-md-10 controls">
                    <button type="button" class="btn btn-primary" data-ng-click="vm.saveItem()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>