﻿@model e_store.App.ViewModels.CategoryVM

<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Admin Panel for Application</h2>
        </div>
    </div>
    <!-- /.row -->

    <div class="row text-center">
        <label class="radio-inline">
            <input type="radio" ng-model="vm.showAdd" ng-value="true"> Add Category
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="vm.showAdd" ng-value="false"> Show Grid
        </label>
    </div>
    <br />

    <div ng-if="!vm.showAdd">
        <div class="container table-grid">
            <div class="text-center">
                <h3>Category Grid</h3>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="td-40perct">Action</th>
                        <th class="td-20perct">Id</th>
                        <th class="td-40perct">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in vm.categories">
                        <td>
                            <input type="button" class="btn btn-default" ng-click="vm.editCategory(d.Id)" value="Edit" />
                            <input type="button" class="btn btn-default" ng-click="vm.Delete(d.Id)" value="Del" />
                        </td>
                        <td>{{d.Id}}</td>
                        <td>{{d.Name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div ng-if="vm.showAdd">
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Name</label>
                <div class="col-md-10 controls">
                    <input type="hidden" ng-model="vm.obj.id" />
                    @*@Html.AngularTextBoxFor("vm.obj.name", new { @class = "form-control" }, required: true)*@
                    @Html.AngularFieldFor(c => c.Name, new { @class = "form-control" })
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10 controls">
                    @*@Html.AngularTextBoxFor("vm.obj.description", new { @class = "form-control" }, required: true)*@
                    @Html.AngularFieldFor(c => c.Description)
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="control-group">
                <div class="col-md-offset-2 col-md-10 controls">
                    <button type="button" class="btn btn-primary" data-ng-click="vm.saveCategory()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
