﻿

<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">Sub-Category Admin Page</h2>
        </div>
    </div>
    <!-- /.row -->

    <br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10 controls">
                @Html.AngularTextBoxFor("vm.obj.name", new { @class = "form-control" })
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10 controls">
                @Html.AngularTextBoxFor("vm.obj.description", new { @class = "form-control" })
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Code</label>
            <div class="col-md-10 controls">
                @Html.AngularTextBoxFor("vm.obj.code", new { @class = "form-control" })
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="control-group">
            <label class="control-label col-md-2">Category</label>
            <div class="col-md-10 controls">
                <select class="form-control" data-ng-model="vm.categoryId" ng-options="c.Id as c.Name for c in vm.categories"></select>
            </div>
        </div>
    </div><br />
    <div class="row">
        <div class="control-group">
            <div class="col-md-offset-2 col-md-10 controls">
                <button type="button" class="btn btn-primary" data-ng-click="vm.saveSubCategory()">Save</button>
            </div>
        </div>
    </div>
    
</div>
