﻿<div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <p>
                <a href="#/category">Add Category</a>
            </p>
            <p>
                <a href="#/item">Add Item</a>
            </p>
        </div>
    </div>
</div>