body {
	font-family: 'Open Sans', sans-serif;
}

div .table-grid
{
    width: 70%;
}

.td-40perct
{
    width: 40%;
}

.td-20perct
{
    width: 20%;
}


/* Make it a marquee */
.marquee {
    width: 80%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    /* border: 1px green solid; */
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    /* border: 1px red solid; */
    animation: marquee 25s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused
}


/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@-webkit-keyframes marquee {
	0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@-moz-keyframes marquee {
	0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* ngView animations (http://dfsq.github.io/ngView-animation-effects/app/#/) */
.slide.ng-enter {
	-webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
    opacity: 0;
}

.slide.ng-enter-active {
	opacity: 1;
}

